#kontakt-hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1567600175325-3573c56bee05?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb3p5JTIwcmVzdGF1cmFudCUyMGludGVyaW9yfGVufDF8fHx8MTc2OTk0ODAxOHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  padding-inline: 5%;
}

#kontakt-hero h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4px;
  color: white;
  padding-block: 64px;
}

#kontakt-main {
  padding-inline: 5%;
  padding-block: 64px;
  display: flex;
  gap: 32px;
}

#kontakt-main h2 {
  color: #525252;
  font-weight: 600;
  text-align: start;
  font-size: 2rem;
}

.kontakt-main-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.kontakt-main-info-p {
  text-align: start;
  color: #a3a3a3;
  padding-block: 24px;
}

.kontakt-tile {
  display: flex;
  height: auto;
  margin-block: 8px;
}

.kontakt-tile i {
  background-color: var(--akcent);
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 1.8rem;
  margin-right: 24px;
  justify-self: center;
  align-self: center;
}

.kontakt-tile h3 {
  color: #525252;
  font-weight: 600;
  text-align: start;
  font-size: 1.2rem;
}

.kontakt-tile p {
  text-align: start;
  color: #a3a3a3;
  padding-top: 8px;
}

.kontakt-social-media {
  border-top: solid 1px rgb(64, 64, 64);
  margin-top: 16px;
}

.kontakt-social-media a {
  text-decoration: none;
  cursor: pointer;
}

.kontakt-social-media h3 {
  color: #525252;
  font-weight: 600;
  text-align: start;
  font-size: 1.2rem;
  padding-block: 16px;
}

.kontakt-social-media i {
  background-color: black;
  border-radius: 50%;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  margin-right: 24px;
  text-align: center;
  display: flex;
  justify-self: start;
}
.kontakt-social-media i::before {
  justify-self: center;
  align-self: center;
}

iframe {
  height: auto;
  width: 100%;
}

@media only screen and (width <= 850px) {
  #kontakt-main {
    flex-wrap: wrap;
  }
  iframe {
    height: 300px;
  }
}
