:root {
  --akcent: #eab308;
  --żółty-ciemniejszy: #ca8a04;
  --żółty-jaśniejszy: #fde047;
  --tiles: #fafafa;
}

#menu-hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1567600175325-3573c56bee05?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb3p5JTIwcmVzdGF1cmFudCUyMGludGVyaW9yfGVufDF8fHx8MTc2OTk0ODAxOHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  padding-inline: 5%;
}

.menu-hero-h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4px;
  color: white;
  padding-block: 64px;
}

.menu-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  padding-inline: 20px;
  border-radius: 32px;
  margin: 16px;
  border: none;
  background-color: var(--tiles);
  color: black;
  transition: all 0.3s;
  font-size: 1.2rem;
}

button:hover {
  filter: brightness(0.9);
}

button.active {
  background-color: var(--akcent);
  color: black;
}
button.active:hover {
  background-color: var(--żółty-jaśniejszy);
}
.menu {
  padding-inline: 5%;
  padding-block: 64px;
}
.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}

.menu-card.visible {
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.menu-card {
  aspect-ratio: 1 / 1;
  border-radius: 16px;
  display: flex;
  align-items: start;
  flex-direction: column;
  transition: all 0.5s;
  display: none;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  background-color: var(--tiles);
}

.menu-card img {
  width: 100%;
  height: 70%;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}

.menu-card h3 {
  margin: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.7rem;
}

.menu-card p {
  text-align: start;
  color: #a3a3a3;
  margin-inline: 16px;
}

.menu-card h2 {
  color: var(--akcent);
  font-size: 2rem;
  padding: 16px;
  font-weight: bold;
}

#odwiedzNas {
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.odwiedzNas-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.odwiedzNas-h3 {
  align-self: center;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
  width: 70%;
}

.odwiedzNas-button {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: var(--akcent);
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  width: 400px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  align-self: center;
  text-decoration: none;
  text-align: center;
}

.odwiedzNas-button:hover {
  background-color: var(--żółty-jaśniejszy);
}
