:root {
  --akcent: #eab308;
  --żółty-ciemniejszy: #ca8a04;
  --żółty-jaśniejszy: #fde047;
  --tiles: #fafafa;
}

#oNas-hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1567600175325-3573c56bee05?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxjb3p5JTIwcmVzdGF1cmFudCUyMGludGVyaW9yfGVufDF8fHx8MTc2OTk0ODAxOHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  padding-inline: 5%;
}

.oNas-hero-h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4px;
  color: white;
  padding-block: 64px;
}

#oNas-main {
  padding-inline: 5%;
  padding-block: 64px;
}

.oNas-img img {
  height: 500px;
}

.oNas-tiles {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  gap: 16px;
  flex-wrap: wrap;
}

.oNas-tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--tiles);
  padding: 32px;
  border-radius: 16px;
  box-sizing: border-box;
  width: calc(50% - 8px);
}

.tile h3 {
  color: #525252;
  font-weight: 600;
  text-align: start;
}

.tile p {
  text-align: start;
  color: #a3a3a3;
}

.oNas-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 64px;
}

#oNas-additional {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  background-color: #f5f5f5;
  padding-block: 64px;
}

.oNas-additional-tiles {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-block: 32px;
}

.oNas-additional-tile {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: var(--tiles);
  border-radius: 16px;
  width: 100%;
}

.oNas-additional-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}

.oNas-additional-tile h3 {
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 24px;
}

#odwiedzNas {
  padding-block: 64px;
  display: flex;
  flex-direction: column;
  background-color: var(--akcent);
}

.odwiedzNas-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.odwiedzNas-h3 {
  align-self: center;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
  width: 70%;
}

.odwiedzNas-button {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  width: 300px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  align-self: center;
  text-decoration: none;
  text-align: center;
}

.odwiedzNas-button:hover {
  background-color: #282828;
}

@media only screen and (width <= 850px) {
  .oNas-tiles .tile {
    width: 100%;
  }
  .oNas-additional-tiles {
    flex-wrap: wrap;
  }
}
