<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

:root {
  --akcent: #eab308;
  --żółty-ciemniejszy: #ca8a04;
  --żółty-jaśniejszy: #fde047;
  --tiles: #fafafa;
}

#nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-h2 {
  color: var(--akcent);
  font-size: 1.6rem;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.nav-logo {
  display: flex;
}

.logo-img {
  width: 70px;
  border-radius: 50%;
  margin-right: 8px;
}

.logo-additional p {
  font-size: 0.9rem;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  width: 550px;
  list-style-type: none;
}

.nav-a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: ease-in-out 0.2s;
}

.active {
  color: var(--akcent);
}

.nav-a:hover {
  color: var(--akcent);
}

.nav-phone {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}

.nav-phone-i {
  margin-right: 8px;
  color: white;
}

#hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1639923537027-dab33a82ebd4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxzdHJlZXQlMjBmb29kJTIwcmVzdGF1cmFudCUyMG91dGRvb3J8ZW58MXx8fHwxNzY5OTQ4MDE4fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  padding-inline: 5%;
}

.hero-h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4px;
}

.hero-p {
  font-size: 1.5rem;
  width: 40%;
  margin: 32px 0;
}

.hero-btn {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: var(--akcent);
  font-size: 1.2rem;
  font-weight: 400;
  width: 250px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.hero-btn:hover {
  background-color: var(--żółty-jaśniejszy);
}

#oNas {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: white;
}

.oNas-text-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oNas-text {
  width: 45%;
}

.oNas-text h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oNas-text-p {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.1rem;
}

.oNas-text-a a {
  color: var(--akcent);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

.oNas-text-a a:hover {
  color: var(--żółty-ciemniejszy);
}

.oNas-img {
  width: 45%;
}

.oNas-img img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  object-position: center;
  object-fit: cover;
}

.oNas-tiles {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: space-between;
  gap: 16px;
}

.oNas-tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tiles);
  padding: 32px;
  border-radius: 16px;
  gap: 16px;
  width: 100%;
}

.tile i {
  background-color: var(--akcent);
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 1.8rem;
}

.tile h3 {
  color: #525252;
  font-weight: 600;
  text-align: center;
}

.tile p {
  text-align: center;
  color: #a3a3a3;
}

#menu {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: #f5f5f5;
}

.menu-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.menu-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}

.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  animation: spin 30s infinite linear;
  padding-right: 1.5em;
}

.card {
  flex: 0 0 6em;
  height: 4em;
  padding: 0.5em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  align-content: end;
  justify-items: start;
}

.card1 {
  background: url("https://images.unsplash.com/photo-1667892960003-f3e6b7817129?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxkZWxpY2lvdXMlMjBmb29kJTIwcGhvdG9ncmFwaHl8ZW58MXx8fHwxNzY5ODU3ODAyfDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card2 {
  background: url("https://images.unsplash.com/photo-1706086414616-b3085a1d1f21?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxwaXp6YSUyMHN0cmVldCUyMGZvb2R8ZW58MXx8fHwxNzY5OTQ4MDIwfDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card3 {
  background: url("https://images.unsplash.com/photo-1621628017636-d1c2009fc27c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxrZWJhYiUyMHdyYXAlMjBmb29kfGVufDF8fHx8MTc2OTk0ODAxOHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card4 {
  background: url("https://images.unsplash.com/photo-1682613886162-49f5e074c092?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxmcmVuY2glMjBmcmllcyUyMGZvb2R8ZW58MXx8fHwxNzY5OTQ3NDI2fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card5 {
  background: url("https://foodo.pl/wp-content/uploads/2015/03/krwisty_stek_z_antrykotu.jpg");
  background-position: center;
  background-size: cover;
}
.card6 {
  background: url("https://ocs-pl.oktawave.com/v1/AUTH_9efaebf07b914375b2ca19eca2447757/edicloud/pictures/mojegotowaniepl/salatka-drwala-233213.jpg");
  background-position: center;
  background-size: cover;
}

.card h3 {
  font-size: 1.8rem;
  text-align: start;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card p {
  font-size: 1.8rem;
  text-align: start;
  color: var(--żółty-jaśniejszy);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.menu-btn,
.galeria-btn {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: var(--akcent);
  font-size: 1.2rem;
  font-weight: 400;
  width: 300px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  align-self: center;
  margin-top: 64px;
}

.menu-btn:hover,
.galeria-btn:hover {
  background-color: var(--żółty-jaśniejszy);
}

#kontakt {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: white;
}

.kontakt-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.kontakt-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}

.kontakt-tiles {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: space-between;
  gap: 16px;
}

.kontakt-tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tiles);
  padding: 32px;
  border-radius: 16px;
  gap: 16px;
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 16px;
}

#kontakt a {
  color: var(--akcent);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: ease-in-out 0.1s;
  text-align: center;
  margin-top: 48px;
}

#kontakt a:hover {
  color: var(--żółty-ciemniejszy);
}

#galeria {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: #f5f5f5;
}

.galeria-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.galeria-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}

footer {
  display: flex;
  flex-direction: column;
  padding-inline: 5%;
  background-color: #000;
  color: #6e6e6e;
}
footer h3 {
  font-size: 1.5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: start;
  color: white;
  margin-block: 32px;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  margin-block: 32px;
}
.footer-main > * {
  width: 30%;
}

footer ul {
  list-style-type: none;
}

footer li {
  margin-block: 8px;
  display: flex;
}

footer i {
  margin-right: 10px;
  color: var(--akcent);
}

footer a {
  text-decoration: none;
  color: #6e6e6e;
  transition: ease-in-out 0.2s;
}

footer a:hover {
  text-decoration: none;
  color: var(--akcent);
}

.footer-prawaZastrzezone {
  border-top: solid 1px rgb(64, 64, 64);
  text-align: center;
  padding-block: 32px;
}
=======
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

:root {
  --akcent: #eab308;
  --żółty-ciemniejszy: #ca8a04;
  --żółty-jaśniejszy: #fde047;
  --tiles: #fafafa;
}

#nav {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-h2 {
  color: var(--akcent);
  font-size: 1.6rem;
  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.nav-logo {
  display: flex;
}

.logo-img {
  width: 70px;
  border-radius: 50%;
  margin-right: 8px;
}

.logo-additional p {
  font-size: 0.9rem;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  width: 550px;
  list-style-type: none;
}

.nav-a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: ease-in-out 0.2s;
}

.active {
  color: var(--akcent);
}

.nav-a:hover {
  color: var(--akcent);
}

.nav-phone {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  align-items: center;
}

.nav-phone-i {
  margin-right: 8px;
  color: white;
}

#hero {
  background:
    linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1639923537027-dab33a82ebd4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxzdHJlZXQlMjBmb29kJTIwcmVzdGF1cmFudCUyMG91dGRvb3J8ZW58MXx8fHwxNzY5OTQ4MDE4fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: white;
  padding-inline: 5%;
}

.hero-h1 {
  font-size: 5rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 4px;
}

.hero-p {
  font-size: 1.5rem;
  width: 40%;
  margin: 32px 0;
}

.hero-btn {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: var(--akcent);
  font-size: 1.2rem;
  font-weight: 400;
  width: 250px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.hero-btn:hover {
  background-color: var(--żółty-jaśniejszy);
}

#oNas {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: white;
}

.oNas-text-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.oNas-text {
  width: 45%;
}

.oNas-text h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oNas-text-p {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 1.1rem;
}

.oNas-text-a a {
  color: var(--akcent);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: ease-in-out 0.1s;
}

.oNas-text-a a:hover {
  color: var(--żółty-ciemniejszy);
}

.oNas-img {
  width: 45%;
}

.oNas-img img {
  width: 100%;
  height: 400px;
  border-radius: 16px;
  object-position: center;
  object-fit: cover;
}

.oNas-tiles {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: space-between;
  gap: 16px;
}

.oNas-tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tiles);
  padding: 32px;
  border-radius: 16px;
  gap: 16px;
  width: 100%;
}

.tile i {
  background-color: var(--akcent);
  border-radius: 50%;
  color: white;
  padding: 20px;
  font-size: 1.8rem;
}

.tile h3 {
  color: #525252;
  font-weight: 600;
  text-align: center;
}

.tile p {
  text-align: center;
  color: #a3a3a3;
}

#menu {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: #f5f5f5;
}

.menu-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.menu-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}

.carousel {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  animation: spin 30s infinite linear;
  padding-right: 1.5em;
}

.card {
  flex: 0 0 6em;
  height: 4em;
  padding: 0.5em;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  align-content: end;
  justify-items: start;
}

.card1 {
  background: url("https://images.unsplash.com/photo-1667892960003-f3e6b7817129?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxkZWxpY2lvdXMlMjBmb29kJTIwcGhvdG9ncmFwaHl8ZW58MXx8fHwxNzY5ODU3ODAyfDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card2 {
  background: url("https://images.unsplash.com/photo-1706086414616-b3085a1d1f21?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxwaXp6YSUyMHN0cmVldCUyMGZvb2R8ZW58MXx8fHwxNzY5OTQ4MDIwfDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card3 {
  background: url("https://images.unsplash.com/photo-1621628017636-d1c2009fc27c?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxrZWJhYiUyMHdyYXAlMjBmb29kfGVufDF8fHx8MTc2OTk0ODAxOHww&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card4 {
  background: url("https://images.unsplash.com/photo-1682613886162-49f5e074c092?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w3Nzg4Nzd8MHwxfHNlYXJjaHwxfHxmcmVuY2glMjBmcmllcyUyMGZvb2R8ZW58MXx8fHwxNzY5OTQ3NDI2fDA&ixlib=rb-4.1.0&q=80&w=1080");
  background-position: center;
  background-size: cover;
}
.card5 {
  background: url("https://foodo.pl/wp-content/uploads/2015/03/krwisty_stek_z_antrykotu.jpg");
  background-position: center;
  background-size: cover;
}
.card6 {
  background: url("https://ocs-pl.oktawave.com/v1/AUTH_9efaebf07b914375b2ca19eca2447757/edicloud/pictures/mojegotowaniepl/salatka-drwala-233213.jpg");
  background-position: center;
  background-size: cover;
}

.card h3 {
  font-size: 1.8rem;
  text-align: start;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card p {
  font-size: 1.8rem;
  text-align: start;
  color: var(--żółty-jaśniejszy);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.menu-btn,
.galeria-btn {
  padding: 15px;
  border-radius: 32px;
  border: none;
  background-color: var(--akcent);
  font-size: 1.2rem;
  font-weight: 400;
  width: 300px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  align-self: center;
  margin-top: 64px;
}

.menu-btn:hover,
.galeria-btn:hover {
  background-color: var(--żółty-jaśniejszy);
}

#kontakt {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: white;
}

.kontakt-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.kontakt-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}

.kontakt-tiles {
  display: flex;
  margin-top: 64px;
  margin-bottom: 64px;
  justify-content: space-between;
  gap: 16px;
}

.kontakt-tiles .tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tiles);
  padding: 32px;
  border-radius: 16px;
  gap: 16px;
  width: 100%;
}

iframe {
  width: 100%;
  border-radius: 16px;
}

#kontakt a {
  color: var(--akcent);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: ease-in-out 0.1s;
  text-align: center;
  margin-top: 48px;
}

#kontakt a:hover {
  color: var(--żółty-ciemniejszy);
}

#galeria {
  padding-inline: 5%;
  display: flex;
  flex-direction: column;
  padding-block: 64px;
  background-color: #f5f5f5;
}

.galeria-h2 {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.galeria-h3 {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 64px;
}
>>>>>>> ca908ba8bf6333f1ef2ec4391627c4307c267f05
